#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE      AT               // "
#define JP_AMPERSAND   CARET            // &
#define JP_QUOTE       AMPERSAND        // '
#define JP_EQUAL       UNDER            // =
#define JP_CARET       EQUAL            // ^
#define JP_YEN         0x89             // ¥
#define JP_PLUS        COLON            // +
#define JP_TILDE       PLUS             // ~
#define JP_PIPE        LS(0x89)         // |
#define JP_AT          LEFT_BRACKET     // @
#define JP_COLON       SINGLE_QUOTE     // :
#define JP_ASTERISK    DOUBLE_QUOTES    // *
#define JP_BACKQUOTE   LEFT_BRACE       // `
#define JP_UNDERSCORE  LS(0x87)         // _
#define JP_LBRACKET    RIGHT_BRACKET    // [
#define JP_RBRACKET    BACKSLASH        // ]
#define JP_LPAREN      ASTERISK         // (
#define JP_RPAREN      LEFT_PARENTHESIS // )
#define JP_LBRACE      RIGHT_BRACE      // {
#define JP_RBRACE      PIPE             // }
#define JP_KANA        LANGUAGE_1       // かな
#define JP_EISU        LANGUAGE_2       // 英数
#define JP_HANZEN      GRAVE            // 半角/全角

// スクロール量を変更

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            // bindings = <&to_layer_0 INT_MUHENKAN>;

            bindings = <&kp GRAVE>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        UserName: UserName {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(B) &kp LS(J) &kp N0 &kp N2 &kp LS(Z) &kp N0 &kp N6 &kp N2 &kp N1>;
            label = "USERNAME";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // 新しいスクロール動作の追加

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &mt LEFT_GUI W  &kp E         &kp R                        &kp T                                                                     &kp Y        &kp U             &kp I      &kp O    &kp P
&mt LCTRL A       &mt LCTRL S     &kp D         &mt LEFT_SHIFT F             &kp G                   &kp LS(LG(S))                      &kp JP_PLUS    &kp H        &mt LEFT_SHIFT J  &kp K      &kp L    &kp MINUS
&mt LEFT_SHIFT Z  &kp X           &kp C         &kp V                        &kp B                   &tog 1                             &kp SEMICOLON  &kp N        &kp M             &kp COMMA  &kp DOT  &kp SLASH
&UserName         &kp LEFT_WIN    &kp LEFT_ALT  &lt_to_layer_0 6 INT_HENKAN  &lt_to_layer_0 4 SPACE  &lt_to_layer_0 5 INT_MUHENKAN      &kp BACKSPACE  &lt 2 ENTER                                        &kp LC(RA(DEL))
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        FUNCTION {
            bindings = <
&kp Q   &kp L           &kp U           &kp COMMA         &kp PERIOD                                       &kp F   &kp W              &kp R            &kp Y            &kp P
&kp E   &mt LEFT_GUI I  &mt LEFT_ALT A  &mt LEFT_SHIFT O  &kp MINUS      &trans      &kp SLASH             &kp K   &mt RIGHT_SHIFT T  &mt RIGHT_ALT N  &mt RIGHT_GUI S  &kp H
&kp Z   &kp X           &kp C           &kp V             &kp SEMICOLON  &trans      &kp NON_US_BACKSLASH  &kp G   &kp D              &kp M            &kp J            &kp B
&trans  &trans          &trans          &trans            &trans         &trans      &trans                &trans                                                       &kp F12
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        NUM {
            bindings = <
&trans          &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SLASH                            &kp JP_AMPERSAND  &kp JP_QUOTE     &kp JP_EQUAL      &kp JP_CARET       &kp JP_YEN
&kp ESCAPE      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS  &trans            &trans  &kp JP_PLUS       &kp JP_TILDE     &kp JP_PIPE       &kp JP_AT          &kp BACKSPACE
&kp COMMA       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS   &kp ASTERISK      &trans  &trans            &kp JP_ASTERISK  &kp JP_BACKQUOTE  &kp JP_UNDERSCORE  &kp DELETE
&kp LEFT_SHIFT  &kp NUMBER_0  &kp PERIOD    &trans        &trans     &trans            &trans  &trans                                                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSEandARROW {
            bindings = <
&kp F3     &kp F2          &kp UP_ARROW    &kp F4           &kp F5                         &kp F6  &kp F7              &kp F8    &kp F10              &kp RA(F11)
&trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans     &trans      &trans  &trans  &mkp MB1            &mkp MB3  &mkp MB2             &kp BACKSPACE
&kp LC(Z)  &kp LC(X)       &kp LC(C)       &kp LC(V)        &kp LC(Y)  &trans      &trans  &trans  &kp LA(LEFT_ARROW)  &trans    &kp RA(RIGHT_ARROW)  &kp DELETE
&trans     &trans          &trans          &trans           &trans     &trans      &trans  &trans                                                     &kp F12
            >;
        };

        SCROLLandMARK {
            bindings = <
&trans           &trans         &trans    &kp SEMICOLON  &kp JP_COLON                      &kp JP_CARET      &kp JP_BACKQUOTE  &kp JP_LBRACKET  &kp JP_RBRACKET  &kp JP_AT
&kp EXCLAMATION  &kp JP_DQUOTE  &kp HASH  &kp DOLLAR     &kp PERCENT   &trans      &trans  &kp JP_AMPERSAND  &kp JP_QUOTE      &kp JP_LPAREN    &kp JP_RPAREN    &kp JP_EQUAL
&trans           &trans         &trans    &trans         &trans        &trans      &trans  &kp JP_PIPE       &kp JP_TILDE      &kp JP_LBRACE    &kp JP_RBRACE    &kp JP_UNDERSCORE
&trans           &trans         &trans    &trans         &trans        &trans      &trans  &trans                                                                &kp JP_YEN
            >;
        };

        BLUETOOTH {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
